# Node
node_modules
dist

# Environment
.env
.env.local
.env.*.local

# Firebase Admin (sehr wichtig)
admin/serviceAccountKey.json

# Mac
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional (Vite)
.vercel